## Movie Franchise ratings

In [85]:
# Packages:
import numpy as np
import pandas as pd
import plotly.graph_objects as go
from matplotlib.colors import LinearSegmentedColormap, to_hex
import re
import plotly.figure_factory as ff
from numpy import diff

# Display options:
pd.set_option("display.width", 1200)
pd.set_option("display.max_columns", 300)
pd.set_option("display.max_rows", 500)

## Data

In [80]:
df_franchises = pd.read_csv("franchises.csv")
df_franchises = df_franchises.sort_values(["Franchise", "order"])

In [47]:
df_franchises

    Franchise                       Movie  movie_year  averageRating   numVotes  order
164     Alien                       Alien      1979.0            8.5   856938.0      1
165     Alien                      Aliens      1986.0            8.4   701678.0      2
166     Alien                      Alien³      1992.0            6.4   295710.0      3
167     Alien          Alien Resurrection      1997.0            6.2   244244.0      4
168     Alien          Alien vs. Predator      2004.0            5.6   195428.0      5
..        ...                         ...         ...            ...        ...    ...
79      X-Men  X-Men: Days of Future Past      2014.0            7.9   700371.0      7
80      X-Men                    Deadpool      2016.0            8.0  1001530.0      8
81      X-Men           X-Men: Apocalypse      2016.0            6.9   426154.0      9
82      X-Men                       Logan      2017.0            8.1   733713.0     10
83      X-Men                  Deadpool 2      2018.0            7.7   557315.0     11

[275 rows x 6 columns]

In [109]:
df = pd.DataFrame()
franchises = df_franchises["Franchise"].unique()
for i, franc in enumerate(franchises):
    df_i = df_franchises[df_franchises["Franchise"] == franc]
    dx = 0.1
    y = df_i["averageRating"]
    dy = diff(y)/dx
    df_i["variation"] = "Oscilating"
    if sum(dy >= 0) == len(dy):
        df_i["variation"] = "Increasing"
    if sum(dy <= 0) == len(dy):
        df_i["variation"] = "Decreasing"
    if sum(dy == 0) == len(dy):
        df_i["variation"] = "Stable"
    df = pd.concat([df, df_i])
df_franchises = df

In [110]:
df_franchises.head()

    Franchise               Movie  movie_year  averageRating  numVotes  order   variation
164     Alien               Alien      1979.0            8.5  856938.0      1  Oscilating
165     Alien              Aliens      1986.0            8.4  701678.0      2  Oscilating
166     Alien              Alien³      1992.0            6.4  295710.0      3  Oscilating
167     Alien  Alien Resurrection      1997.0            6.2  244244.0      4  Oscilating
168     Alien  Alien vs. Predator      2004.0            5.6  195428.0      5  Oscilating

## Plot

In [115]:
color_var = "variation"
x_var = "order"
y_var = "averageRating"
lvls = df_franchises[color_var].unique()
my_palette = ["#f62a0f", "#0f63f6", "#4ed60c", "#d10cd6"]
lvls

array(['Oscilating', 'Decreasing', 'Stable', 'Increasing'], dtype=object)

In [172]:
color_var = "variation"
x_var = "order"
y_var = "averageRating"
lvls = df_franchises[color_var].unique()
my_palette = ["#0aa720", "#e1301b", "#cb0cd6", "#0c40d6"]

fig = go.FigureWidget()
fig.layout.hovermode = "closest"
fig.layout.hoverdistance = -1
default_linewidth = 3
highlighted_linewidth_delta = 4
for l, lvl in enumerate(lvls):
    color_lvl = my_palette[l]
    df_lvl = df_franchises[df_franchises[color_var] == lvl]
    lvls2 = df_lvl["Franchise"].unique()
    legend_ok = True
    for l2, lvl2 in enumerate(lvls2):
        if l2 > 0:
            legend_ok = False
        df_lvl2 = df_lvl[df_lvl["Franchise"] == lvl2]
        fig.add_trace(
            go.Scatter(
                x = df_lvl[x_var][df_lvl["Franchise"] == lvl2],
                y = df_lvl[y_var][df_lvl["Franchise"] == lvl2],
                mode = "lines+markers",
                line = {
                    "width": default_linewidth,
                    "color": color_lvl
                },
                marker = {
                    "size": 5,
                    "color": color_lvl
                },
                name = lvl + " - " + lvl2,
                showlegend = True, # legend_ok,
                customdata = np.stack((df_lvl2["Movie"], df_lvl2["movie_year"]), axis = -1),
                hovertemplate =  "<b>" +
                                 "Franchise: " + lvl2 + "<br>" +
                                 "Movie: %{customdata[0]} (%{customdata[1]:i})<br>" + 
                                 y_var + ": %{y:}<br>" + 
                                 color_var + ": " + lvl + 
                                 "</b><extra></extra>"
            )
        )
fig.update_xaxes(
    tickmode = "array",
    tickvals = np.arange(1, df_franchises["order"].max()).astype(int)
)
fig.update_layout(
    height = 600,
    xaxis_title = "<b>" + x_var + "</b>" ,
    yaxis_title = "<b>" + y_var + "</b>",
    font = dict(
        size = 18
    ),
    showlegend = True,
    legend_title_text = "<b>" + color_var + "</b>",
    plot_bgcolor = "white",
    hoverlabel = dict(
        font_size = 20,
        font_family = "Rockwell"
    )
)
def update_trace(trace, points, selector):
    if len(points.point_inds) == 0:
        return
    for i,_ in enumerate(fig.data):
        fig.data[i]['line']['width'] = default_linewidth + highlighted_linewidth_delta * (i == points.trace_index)
for i in range( len(fig.data) ):
    fig.data[i].on_click(update_trace)
fig

FigureWidget({
    'data': [{'customdata': array([['Alien', 1979.0],
                                   ['Alie…