## Movie Sequel ratings

In [1]:
# Packages:
import numpy as np
import pandas as pd
import plotly.graph_objects as go
from matplotlib.colors import LinearSegmentedColormap, to_hex
import re

# Display options:
pd.set_option("display.width", 1200)
pd.set_option("display.max_columns", 300)
pd.set_option("display.max_rows", 300)

## Data

In [2]:
df_franchises = pd.read_csv("Movie_Franchises.csv")

In [3]:
df_franchises.head(10)

               Franchise                                              Movie
0                Mad Max                                            Mad Max
1                Mad Max                                   The Road Warrior
2                Mad Max                         Mad Max Beyond Thunderdome
3                Mad Max                                 Mad Max: Fury Road
4  The Lord of the Rings  The Lord of the Rings: The Fellowship of the Ring
5  The Lord of the Rings              The Lord of the Rings: The Two Towers
6  The Lord of the Rings      The Lord of the Rings: The Return of the King
7             The Hobbit                  The Hobbit: An Unexpected Journey
8             The Hobbit                The Hobbit: The Desolation of Smaug
9             The Hobbit          The Hobbit: The Battle of the Five Armies

In [4]:
df_rating = pd.read_csv("title.ratings.tsv", sep = "\t")

In [17]:
df_rating.head(10)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1887
1  tt0000002            5.9       250
2  tt0000003            6.5      1676
3  tt0000004            5.8       163
4  tt0000005            6.2      2495
5  tt0000006            5.2       167
6  tt0000007            5.4       779
7  tt0000008            5.4      2027
8  tt0000009            5.3       195
9  tt0000010            6.9      6820

In [50]:
df_titles = pd.read_csv("title.basics_filtered.csv")

In [49]:
## That was to filter the original 9.000.000 rows files:
# titles_path = "title.basics.tsv"
# with open(titles_path, "r") as titles_head:
#     for n, line in enumerate(titles_head):
#         if n in [0]:
#             h = line.strip()
# var_names = h.split("\t")

# nrows = 8987724
# ind_row = range(1, nrows)
# ids = df_rating["tconst"].values
# movie_id, movie_title_main, movie_title_original, movie_year, movie_runtime_min, movie_year = [], [], [], [], [], []
# with open(titles_path, "r") as titles:
#     for n, line in enumerate(titles):
#         if n % 1000 == 0:
#             print(str(round(100*n/nrows, 2)) + " %")
#         if n in ind_row:
#             x = line.strip().split("\t")
#             if x[1] == "movie":
#                 if x[0] in ids:
#                     movie_id += [x[0]]
#                     movie_title_main += [x[2]]
#                     movie_title_original += [x[3]]
#                     movie_year += [x[5]]
#                     movie_runtime_min += [x[6]]
# df_title = pd.DataFrame(
#     {
#         "movie_id": movie_id,
#         "movie_title_main": movie_title_main,
#         "movie_title_original": movie_title_original,
#         "movie_year": movie_year,
#         "movie_runtime_min": movie_runtime_min,
#     }
# )
# df_title